@charset "utf-8";
/* CSS Document */
:root {
    --main-blue-color: #003CA1;
}

.main-blue {
    color: var(--main-blue-color);
}

body {
    font-family: "Avenir Next LT Pro";
    background-color: #F7F5F1;
    color: var(--main-blue-color);
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

.container-fluid {
    width: 90%;
}

/************navbar ***************/

.fixed-right {
    position: absolute;
    right: 15px;
    z-index: 1030;
    height: 100%;
}

.blue-nav-bar {
    background-color: #2A56A5;
    height: auto;
    width: 90px;
    color: white;
    z-index: 200;
    box-shadow: 3px 6px 3px rgba(0, 0, 0, 0.16)
}

/****nav-item ******/
.nav-item {
    padding: 16px 0;
    margin: 10px 0;
}

.navbar-nav > a {
    color: white;
}

.nav-item.active {
    background-color: #F1EDE6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    color: #003CA1;
}

/****nav-content ******/
.white-space {
    background-color: #F1EDE6;
    width: 34vw;
    padding: 20px 30px;
}

.blue-space {
    background: linear-gradient(#5980C3, #3E68B2, #2A56A5);
    width: 34vw;
    padding: 20px 30px;

}

.navbar-white-col {
    background-color: #F0ECE9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;

}

.form-control {
    color: #2A56A5;
    background-color: #F1EDE6;
    border: 2px solid #2A56A5;
}

hr {
    border-top: 2px solid #003CA1;
}

ol.music {
    font-size: 18px;
    padding: 15px;
}

ol.music > li {
    border-bottom: 1px solid #C9C8C7;
}

.navbar-white-text {
    font-weight: bold;
    color: #F0ECE9;
}

.text-disabled {
    color: #5980C3;
}

/**** clock ******/
.main-circle {
    height: 400px;
    width: 200px;
    border-radius: 8000px 0 0 8000px;
    border: 2px solid var(--main-blue-color);
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16);
    position: relative;
}

.blue-circle {
    height: 312px;
    width: 156px;
    border-radius: 0 800px 800px 0;
    background-color: var(--main-blue-color);
    position: absolute;
}

.clock-null-circle {
    height: 350px;
    width: 175px;
    border-radius: 0 800px 800px 0;
}

#clock, #scale {
    position: absolute;

}

#time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 59px;
}

#date {
    font-size: 28px;
}

/******btn******/
.btn-main-blue {
    border: 2px solid #2A56A5;
    border-radius: 8px;
    color: var(--main-blue-color);
    font-size: 28px;
    font-weight: bolder;
    padding: 0;
}

.btn-pause-blue {
    background-color: #2A56A5;
    color: white;
}

/******todo_list******/
.small-circle {
    background-color: var(--main-blue-color);
    width: 38px;
    height: 38px;
    border-radius: 38px;
    border: 2px solid var(--main-blue-color);
    margin: 20px;
}

.xs-circle {
    background-color: var(--main-blue-color);
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 2px solid var(--main-blue-color);
    margin: 3px;
}

.white-circle {
    background-color: #FFFFFF;
}

.todo-list {
    background-color: #FFFFFF;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
    position: absolute;
}

.todo-list > ul {
    list-style-type: decimal;
    line-height: 35px;
    font-size: 18px;
    padding: 20px 15px 20px 35px;
}

.navbar-todo-list {
    line-height: 38px;
    font-size: 22px;
    padding: 0 20px;
}

